<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.michael.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddClothing" />
        <activity android:name=".DisplayMessageActivity" />
        <activity android:name=".AddCloset" />
        <activity
            android:name=".HomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Search"
            android:exported="true" />
        <activity android:name=".AddOutfit" />
        <activity android:name=".ViewClothing" />
        <activity
            android:name=".AllClosetsActivity"
            android:exported="true" />
        <activity
            android:name=".OneClosetActivity"
            android:exported="true" />
        <activity
            android:name=".OutfitActivity"
            android:exported="true" />
        <activity
            android:name=".ClothingActivity"
            android:exported="true" />
        <activity android:name=".ThreePieceOutfit" />
        <activity android:name=".AddNewOutfit" />
        <activity android:name=".EditOutfit" />
        <activity android:name=".CreateOutfit"></activity>
        <activity android:name=".CreateOutfitSticker" />

    </application>

</manifest>